<style type="text/css">
body.pushable>.pusher{
  background: #111111;
}
</style>
<div class="ui vertical stripe segment" id="alertWholeContainer">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <h1 class="ui header"><a href="http://123.206.82.207:3000/dashboard-solo/db/voltage?refresh=10s&panelId=7&orgId=1&tab=metrics" target="_blank" class="alertGraphUrl">数据异常报警</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <iframe src="http://123.206.82.207:3000/dashboard-solo/db/voltage?refresh=10s&panelId=7&orgId=1&tab=metrics" width="100%" style="border:none;" class="alertIframe"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <div id="alertMessageArea">
                    <div>
                        <div class="ui icon hidden message" id="alertNewMessage">
                            <div class="ui compact menu" id="alertRefreshContainer">
                                <i><a class="item" id="alertRefreshButton"><i class="icon mail"></i>新消息<div class="floating ui red label" id="alertNewMessageNum"></div></a></i>
                            </div>
                            <div class="content alertMessageContent">
                                <div class="header" id="alertLatestMessage"></div>
                                <p id="alertFormatTime"></p>                                    
                                <div class="ui hidden message" id="timestamp"></div>    
                            </div>
                        </div>

                        <div class="ui icon message" id="alertLoadingMessage">
                            <i class="notched circle loading icon"></i>
                            <div class="content alertMessageContent">
                                <div class="header">稍候 </div>
                                <p>我们正在为您获取内容。</p>
                            </div>
                        </div>

                        <div class="ui success hidden message" id="alertSuccessMessage">
                            <div class="header">报警消息已是最新。</div>
                        </div>

                        <div class="ui negative hidden message" id="alertErrorMessage">
                            <div class="header">刷新失败，请检查网络连接</div>
                        </div>

                        <table class="ui selectable celled table" id="alertTableList">
                            <tbody>
                            </tbody>
                        </table>

                        <div class="row" id="alertPageContainer"></div>
                        <div class="row" id="alertPageSelectContainer">
                            <select id="alertPageSelect"></select>
                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="four wide right floated column">

            </div>
        </div>
    </div>
</div>
<script src="/javascripts/front_alert.js"></script>
