
<style>
.ui.vertical.stripe{
    padding:5em 0 3em;
}
#alert_container{
    {{!-- background: #252222; --}}
}
.ui.label{
    float: right;
}
.ui.empty.circular.label{
    float: none;
}
.ui.celled.table tr td,.ui.table{
    border: none;
}
iframe,#alertArea,#furtureFunction{
    border: none;
    border-radius: .28571429rem;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15);
}
.ui.horizontal.statistics .statistic{
    margin: 0;
}
.ui.primary.button{
    margin-left:1.5em;
}
#newMessage{
    background: none;
    border: none;
    margin:1.5em 0 0;
}
#alertArea{
    padding: 1em 1.5em;
}
</style>
<div class="ui vertical stripe segment" id="alert_container">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <h3 class="ui header">数据异常报警</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <iframe src="http://123.206.82.207:3000/dashboard-solo/db/voltage?refresh=10s&panelId=7&orgId=1&tab=metrics&theme=light" width="100%" style="border:none;"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <div id="alertArea">
                    <div>
                        <i class="caret right icon"></i>
                        <span id="latestMessage"></span>
                        <label class="ui grey label"><span class="date" id="formatTime">{{this.formatTime}}</span></label>      
                        <div class="ui hidden message" id="timestamp"></div>                     
                    </div>

                    <div>
                        <div class="ui message" id="newMessage">
                            <div class="ui compact menu">
                                <a class="item"><i class="icon mail"></i> Messages <div class="floating ui red label" id="newMessageNum"></div></a>
                            </div>
                            <button class="ui primary button" id="refreshButton">刷新</button>
                        </div>

                        <div class="ui icon message" id="loadingMessage">
                            <i class="notched circle loading icon"></i>
                            <div class="header">稍候，我们正在为您获取内容。</div>
                        </div>

                        <div class="ui success hidden message" id="successMessage">
                            <div class="header">报警消息已是最新。</div>
                        </div>

                        <div class="ui negative hidden message" id="errorMessage">
                            <div class="header">刷新失败，请检查网络连接</div>
                        </div>

                        <table class="ui selectable celled table" id="alertList">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="four wide right floated column">

            </div>
        </div>
    </div>
</div>
<script>


$('.ui.dropdown').dropdown();
$('.ui.accordion').accordion();
$('#refreshButton').click(function(){
    $('#newMessage').addClass('hidden');
    $('#loadingMessage').removeClass('hidden');
    $.ajax({
        url:window.location.href+"/refresh",
        success:function(data){
            updateTable(JSON.stringify(data));
            setTimeout(function(){$('#loadingMessage').addClass('hidden');},1000);  
            setTimeout(function(){$('#successMessage').removeClass('hidden');},1000);
            setTimeout(function(){$('#successMessage').addClass('hidden')},2000);         
        },
        error:function(){
            setTimeout(function(){$('#loadingMessage').addClass('hidden');},1000);  
            setTimeout(function(){$("#errorMessage").removeClass("hidden");},1000);  
            setTimeout(function(){$('#errorMessage').addClass('hidden');},2500);
        }
    });
});

function updateTable(data){
    var jsonObj=JSON.parse(data);
    var alertArray=jsonObj.alertArray;    
    $("#alertList").html("");
    var tbody=$("<tbody></tbody>");
    for(var obj in alertArray){
        var tr=$("<tr></tr>");
        tr.append($("<td></td>").append("<label class='ui red empty circular label'></label>"));
        tr.append($("<td></td>").append(alertArray[obj].alertID));
        tr.append($("<td></td>").append(alertArray[obj].time));
        tr.append($("<td></td>").append(alertArray[obj].message));
        tr.append($("<td></td>").append(alertArray[obj].value)); 
        tbody.append(tr);
    }
    $("#latestMessage").html(jsonObj.latestMessage);
    $("#formatTime").html(jsonObj.formatTime);
    $("#alertList").append(tbody); 
    $("#timestamp").html(jsonObj.latestTime);
}
$(function(){
    $.ajax({
        url:window.location.href+"/refresh",
        success:function(data){
            updateTable(JSON.stringify(data));
            setTimeout(function(){$('#loadingMessage').addClass('hidden');},1000);
        },
        error:function(){
            setTimeout(function(){$('#loadingMessage').addClass('hidden');},1000);
            setTimeout(function(){$("#errorMessage").removeClass("hidden");},1000);
            setTimeout(function(){$('#errorMessage').addClass('hidden');},2500);
        }
    });
    setInterval(function(){
        var timestamp=$("#timestamp").html();
        $.ajax({
            url:window.location.href+"/getNewNum?timestamp="+timestamp,
            success:function(result){
                console.log(result);
                if(result.iNewNum!=undefined){
                    if(result.isNewNum){
                        $("#newMessageNum").html(num);
                        $('#newMessage').removeClass('hidden');
                    }
                }
            }
        });
    },5000);
});
</script>
