<style>
  #top_segement{
    padding: 4em 0;
  }
</style>
<div class="ui inverted vertical masthead center aligned segment" id="top_segement">
  <div class="ui text container">
    <h1 class="ui inverted header">
      实时数据监测平台
    </h1>
    <h2>随时随地了解设备运行情况</h2>
    <div class="ui huge primary button" onclick="javascript:window.location.href='/metric'">开始体验<i class="right arrow icon"></i></div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">数据实时监测</h3>
        <p>我们为您提供设备实时监测数据的管理系统，无论是在电脑，手机还是 Pad 上，您都可以随时随地，轻松掌握设备运行情况。</p>
      </div>
      <div class="six wide right floated column">
        <img src="/images/demo1.png" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>



<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="six wide column">
        <img src="/images/demo2.jpg" class="ui large bordered rounded image">
      </div>
      <div class="eight wide column right floated">
        <h3 class="ui header">数据异常报警</h3>
        <p>后台借助开放数据集等形式，对数据进行实时分析，一旦发现异常数据，我们会第一时间通过多种方式推送给您，让您高枕无忧。</p>
      </div>
    </div>
  </div>
</div>