<style>
body.pushable>.pusher{
    height: 100%;
    background: url(/images/databackground.jpg);
}
.ui.stacked.segment,.ui.stacked.segment::after{
    box-shadow: none;
    border: none;
    background: none;
}
.ui.segment{
    background: none;
}
</style>

<div class="ui middle aligned center aligned grid" style="height:100%">
  <div class="column" id="loginContainer">
      <div class="loginInnerBox">
            <h2 class="ui header loginHeader">Broken Arrow</h2>      
            <form class="ui large form error" name="loginForm" id="loginForm" action="#" method="post">
                <div class="ui stacked segment" id="loginFieldContainer">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="loginUsername" type="text" placeholder="组织代码" required="required" id="loginUsername"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="loginPassword" type="password" placeholder="Token" required="required" id="loginPassword"/>
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button" id="loginSubmitButton">Login</div>
                    <div id="loginErrorMessage"></div>
                </div>
                <input type="hidden" value={{openid}} id="openid">
            </form>
      </div>

  </div>
</div>

<script src="/javascripts/front_login.js"></script>