html{font-size: 14px;}
body{
    margin: 0;
    padding: 0;
    color:#333;
}

.accountView{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .loginContainer{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        input[type="text"],input[type="password"]{
            padding: 0.8rem 1.2rem;
            width: 16rem;
            margin: 0.6em 0;
            background: #dfdfdf;
            outline: none;
            border: none;
            color:#333;
            font-size: 1em;
            line-height: 1.4em;
        }
        input[type="submit"]{
            width: 16rem;        
            padding: 0.5rem 0;
            font-size: 1em;                        
            border: 0;
            border-radius: 3px;
            background: #00B5AD;
            color: #ffffff;
            margin: 1.4rem 0;
        }
        .loginBox{
            margin: 0 auto;
            .loginWrapper{
                .loginHeader{
                    font-size: 2.6rem;
                    text-align: center;
                }
                .loginContent{
                    text-align: center;
                    margin-top:3.5rem;
                }
                #loginTip{
                    text-align: center;
                    color:#fc3e3e;
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    .accountView{
        .loginContainer{
            height: 60%;                    
            .loginBox{
                margin: 0 auto;
                width: 300px;                
            }
        }
    }
}

@media screen and (min-width:450px){
    body{
        background-color: #f5f5f5;
    }
    .accountView{
        .loginContainer{
            height: 80%;                                
            .loginBox{
                width: 450px;                
                margin: 0 auto;
                .loginWrapper{
                    padding:8em 4em;
                    background: white;
                    border-radius: 2px;
                    box-shadow: 0 2px 3px rgba(213,213,213,0.7);

                }
            }
        }
    }
}
@media screen and (max-height:335px){
    .accountView{
        .loginContainer{
            height: 100%;
            .loginBox{
                width: 100%;                
                margin: 0 auto;
                .loginWrapper{
                    padding:2em 3em;
                }
            }
        }                                
    }
}
@media screen and (min-height:335px) and (max-height:385px){
    .accountView{
        .loginContainer{
            height: 100%;
            .loginBox{
                width: 100%;                
                margin: 0 auto;
                .loginWrapper{
                    padding:4em 3em;
                }
            }
        }                                
    }
}

@media screen and (min-height:385px) and (max-height:450px){
    .accountView{
        .loginContainer{
            height: 100%;
            .loginBox{
                width: 100%;                
                margin: 0 auto;
                .loginWrapper{
                    padding:5em 3em;
                }
            }
        }                                
    }
}