body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// 响应式布局
@media screen and (max-width: 360px)
{
	html{font-size:50px;}
	iframe{
		border-width: 0px;
		scrolling: no;
		frameborder: 0;
		width: 280px;
		height: 100px;
	}
}
@media screen and (min-width: 360px) and (max-width: 400px)
{
	html{font-size:56.25px;}
	iframe{
		border-width: 0px;
		width: 320px;
		height: 120px;
		scrolling: no;
		frameborder: 0;
	}
}
@media screen and (min-width: 400px) and (max-width: 480px)
{
	html{font-size:62.5px;}
	iframe{
		border-width: 0px;
		width: 360px;
		height: 140px;
		scrolling: no;
		frameborder: 0;
	}
}

@media screen and (min-width: 480px) and (max-width: 520px)
{
	html{font-size:75px;}
	iframe{
		border-width: 0px;
		width: 440px;
		height: 200px;
		scrolling: no;
		frameborder: 0;
	}
}
@media screen and (min-width: 520px) and (max-width: 600px)
{
	html{font-size:81.25px;}
	iframe{
		border-width: 0px;
		width: 480px;
		height: 220px;
		scrolling: no;
		frameborder: 0;
	}
}

@media screen and (min-width: 600px) and (max-width: 720px)
{
	html{font-size:93.75px;}
	iframe{
		border-width: 0px;
		width: 560px;
		height: 260px;
		scrolling: no;
		frameborder: 0;
	}
}

@media screen and (min-width: 720px) and (max-width: 960px)
{
	html{font-size:112.5px;}
	iframe{
		border-width: 0px;
		width: 680px;
		height: 320px;
		scrolling: no;
		frameborder: 0;
	}
}
@media screen and (min-width: 960px)
{
	html{font-size:150px;}
	iframe{
		border-width: 0px;
		width: 900px;
		height: 420px;
		scrolling: no;
		frameborder: 0;
	}
}